:root {
  --body-background-color: #111742;
  --body-text-color: #9fcedf;
  --card-background-color: #273492;
  --nav-background-color: #0e1338;
  --nav-border-bottom-color: #005777;
  --nav-current-border-bottom-color: #19afe6;
  --card-border-color: #326aa482;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

/* Fonts from the provided CSS */
@font-face {
  font-display: swap;
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/figtree-v5-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/figtree-v5-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/figtree-v5-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/figtree-v5-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v18-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono-v18-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono-v18-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/material-icons-round-v108-latin-regular.woff2') format('woff2');
}

/* Body styles */
body {
  font-family: "Figtree", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}
